.form_field {
  position: relative;
  max-width: 500px;
  padding: 1rem 0;
  margin: 50px auto;
  /* border: 1px solid black; */
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.form_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
