.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 170px 0;
  gap: 35px;
}
.not-found-text {
  font-size: 80px;
}
@media (max-width: 680px) {
  .not-found-text {
    font-size: 40px;
  }
}
